/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

:root {
  /*- COLORI PRIMARIO -*/
  --clr-primary-0: black;

  /*- COLORI SECONDARIO -*/
  --clr-secondary-0: white;

  /*-COLORI BG -*/
  --clr-bg-0: rgb(46, 58, 70);
  --clr-bg-1: rgb(30, 45, 59);

  /*- COLORI FONT -*/
  --clr-txt-0: black;
  --clr-txt-1: white;

  /*- DIMENSIONI GUTTER*/
  --gutter-xs: 0.25rem;
  --gutter-sm: 0.5rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.5rem;
  --gutter-xl: 2rem;
  --gutter-xxl: 3rem;

  /* DIMENSIONI DIV*/
  --hgt-header: 5rem;
  --wdt-container: 90rem;
}

/*╔═══════════════╗
         DEBUG
  ╚═══════════════╝*/

.debug header {
  background-color: aqua;
}

.debug aside {
  background-color: black;
}

.debug .content {
  background-color: coral;
}

.debug footer {
  background-color: brown;
}

/*╔═══════════════╗
        COMMON
  ╚═══════════════╝*/

body {
  font-family: 'rotobo', sans-serif;
  color: var(--clr-txt-1);
}

/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

/*- HEADER -*/

header {
  height: var(--hgt-header);
  background-color: var(--clr-bg-0);
  padding: var(--gutter-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__sx {
  height: 100%;
}
.header__logo {
  height: 100%;
}

/*- MAIN -*/

main {
  background-color: var(--clr-bg-1);
  min-height: calc(100vh - var(--hgt-header));
}

.container {
  padding: var(--gutter-xl);
  max-width: var(--wdt-container);
  height: 100%;
  margin: auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  width: 100%;
  min-height: 350px;
  padding: var(--gutter-md);
  background-color: var(--clr-bg-0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__img {
  width: 100%;
  aspect-ratio: 1/1;
}

.card__title {
  text-transform: uppercase;
}

.card__info {
  font-size: 0.85rem;
  opacity: 0.5;
}
